* {
    margin: 0px;
    padding:0px;
}
body {
    font-family: "Allerta";
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background: black;
  
  }
  
#navbar { 
width: 100%;
display:flex;
justify-content: flex-end;
background-color: black
position: fixed;

}

.nav-list {
display:flex;
list-style-type: none;
font-size: 1rem;
 font-weight: 500;
 font: sans-serif;
 
}

.nav-list a {
display:block;
font-size: 1.5rem;
padding: 2rem;
text-decoration:none;
color:white;
font-weight: bolder;
border-bottom: black;
border: 1px solid black;
background: #2D806E;
}

#welcome-section {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#A6FFEC, #538076);
    
}

h1, h3 {
  color:black;
  font-size: 2rem;
  margin:1rem;
  
}
h1 {
    font-size: 3.5rem;  
}
h3 {
    font-style:italic;
}
#project-list {
  text-align:center; 
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display:flex;
  justify-content: space-evenly;
  background-color: black;
    
}

i {
    font-size:1.5rem;
    margin: 10px; 
}

#contact {
  display: flex;
    justify-content:center;
    padding: 20px; 
    margin: auto;
    width: 75%;
    flex-wrap: wrap;
}

#contact a {
    text-decoration: none;
}

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1.5rem;
    height: 60px;
    background-color:#2D806E;
    color:black;
    font-style: italic;

}
a {
    text-decoration:none;

}

img {
  margin: 10px;
  border-radius: 10px;
  border:5px solid #2D806E;
  
}

h2 {
  font-size: 25px;
  color: white;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 30px
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }