:root {
    box-sizing: border-box;
}

a > img {
    height: 18rem;
    margin: 4px;
    border-radius: 10px;
    border:5px solid #2D806E;
}

button {
    height: 3rem;
    border-radius: 10px;
    font-size: larger;
    background-color: #2D806E;
    color: lightcyan;
    font-weight: 600;
    border-color: #538076;

}

h1 {
color: lightcyan;
font-family: 'Allerta';
text-align: center;
}

div {
    text-align: center;
    padding-bottom: 10px;
}

body {
    background: url(../images/twinking.gif);
}
