:root {
    box-sizing: border-box;

}

.container {
    display: flex; 
}

.nav {
    background-color: grey;
    padding-right: 50px;
    float: right; 
    margin-right: 50px;

}

a {
    text-decoration: none;
    font-size: 1.25rem;
    font: white; 
}

li {
    list-style-type: none;
    background-color: grey;
    text-align: left;
    padding-right: 300px;
    font: sans-serif;
}

body {
    background: url(../images/galaxy.webp);
    align-content: center;
    text-align: center; 
    font: sans-serif;
    font:white;

}
main {
    float: left;
    padding-left: 50px;
    font:white;
}

h1 {
align-content: center; 
font:white;
background: #CA98FF;

}

footer {
    height: 900px;
    align-content: center; 
    color: white;

 
}

