:root {
    box-sizing: border-box;

}

.container {
    display: flex; 
}

.nav {
    background-color: grey;
    padding-right: 50px;
    float: right; 
    margin-right: 50px;

}

a {
    text-decoration: none;
    font-size: 1.25rem;
    font: white; 
}

li {
    list-style-type: none;
    background-color: grey;
    text-align: left;
    padding-right: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url(../images/galaxy.webp);
    align-content: center;
    text-align: center; 
    font: sans-serif;
    font:white;

}
main {
    float: left;
    padding-left: 10px;
    font:white;
}

h1 {
align-content: center; 
font:white;
background: #CA98FF;
margin-top: 20px;
padding-top: 10px;
padding-bottom: 10px;

}

footer {
    align-content: center; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 
}

header {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-top: 30px;
}


